@using TourAgency.Models
@model List<Tour>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Active tours</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <hr/>
    <div class="row justify-content-between" style="margin: 5px 5px 5px">
        <div class="btn-group">
            @{
                if (User.IsInRole("customer")) {
                    <input type="button" class="btn btn-info" value="My orders" onclick='location.href = "/orders"'>
                }

                if (User.IsInRole("agent")) {
                    <input type="button" class="btn btn-info" value="Add tour" onclick='location.href = "/tours/addTour"'>
                    <input type="button" class="btn btn-info" value="My tours" onclick='location.href = "/tours/myTours"'>
                    <input type="button" class="btn btn-info" value="My orders" onclick='location.href = "/orders"'>
                }

                if (User.IsInRole("admin")) {
                    <input type="button" class="btn btn-info" value="All users" onclick='location.href = "/users"'>
                    <input type="button" class="btn btn-info" value="All orders" onclick='location.href = "/orders"'>
                }
            }
        </div>
        <div class="btn-group">
            @{
                if (!User.Identity.IsAuthenticated) {
                    <input type="button" class="btn btn-info" value="Sign In" onclick='location.href = "/login"'>
                } else {
                    <input type="button" class="btn btn-outline-info disabled" aria-disabled="true" value="Logged as @User.Identity.Name">
                    <input type="button" class="btn btn-info" value="My info" onclick='location.href = "/users/myInfo"'>
                    <input type="button" class="btn btn-info" value="Logout" onclick='location.href = "/logout"'>
                }
            }
        </div>
    </div>
    <hr/>

    <div class="row justify-content-between" style="margin: 5px 5px 5px">
        <h1>Tours</h1>
        <div class="btn-group" style="margin: 5px 5px 5px">
            <input type="button" class="btn btn-info" value="Active tours" onclick='location.href = "/tours"'>
            <input type="button" class="btn btn-info" value="Hot tours" onclick='location.href = "/tours?isHot=true"'>
        </div>
    </div>
    <table class="table table-info table-striped table-bordered" border="1" cellpadding="5" width="100%">
        <tr>
            <th>Type</th>
            <th>Tour from date</th>
            <th>Duration</th>
            <th>Is hot</th>
            <th>Hot discount</th>
            <th>Discount for regular buyers</th>
            <th>Base price</th>
            <th>Max amount of people</th>
            <th>Place</th>
            <th>Description</th>
        </tr>
        @{
            foreach (Tour tour in Model) {
                <tr>
                    <td>@tour.type.name</td>
                    <td>@tour.fromDate.ToShortDateString()</td>
                    <td>@tour.duration</td>
                    <td>@(tour.isHot?"Yes":"No")</td>
                    <td>@tour.hotDiscount</td>
                    <td>@tour.discount</td>
                    <td>@tour.price</td>
                    <td>@tour.maxAmountOfPeople</td>
                    <td>@tour.place</td>
                    <td>@tour.description</td>
                    @if (User.IsInRole("customer")) {
                        <td><input type="button" class="btn btn-info" value="Buy" onclick='location.href = "/createOrder?tourId=" + @tour.tourId'/></td>
                    }
                </tr>
            }
        }
    </table>
</div>

</body>
</html>