@model TourAgency.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agent creation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid" style="width: 55vh">
        <div class="row align-items-center" style="height: 100vh">
            <div class="col" align="center">
                <h1 style="margin: 15px 15px 15px">New agent</h1>
                @using(Html.BeginForm("createAgent", "User", FormMethod.Post)) {
                if (ViewContext.ViewData.ContainsKey("exception")) {
                    <div class="alert alert-danger" role="alert">
                        @ViewContext.ViewData.Eval("exception")
                    </div>
                }
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First name</span>
                    </div>
                    @Html.TextBoxFor(model => model.firstName, new{@class="form-control"})
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Last name</span>
                    </div>
                    @Html.TextBoxFor(model => model.lastName, new{@class="form-control"})
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                    </div>
                    @Html.TextBoxFor(model => model.email, new{@class="form-control"})
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    @Html.PasswordFor(model => model.password, new{@class="form-control"})
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Telephone</span>
                    </div>
                    @Html.TextBoxFor(model => model.telephone, new{@class="form-control"})
                </div>
                <input style="margin: 5px 5px 5px" type="submit" class="btn btn-info" value="Create"/>
                <input style="margin: 5px 5px 5px" type="button" class="btn btn-info" value="Cancel" onclick='location.href = "/users"'/>
                }
            </div>
        </div>
    </div>
</body>
</html>
