@model TourAgency.Models.User

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <hr/>
        <input type="button" class="btn btn-info" style="margin: 5px 5px 5px" value="Back to all users" onclick="location.href='/users'">
        <div class="btn-group" align="right" style="margin: 5px 5px 5px">
            <input type="button" class="btn btn-outline-info disabled" aria-disabled="true" value="Logged as @User.Identity.Name">
            <input type="button" class="btn btn-info" value="Logout" align="right" onclick='location.href="/logout"'>
        </div>
    <hr/>
    <div align="center">
        <table class="table table-hover" align="center">
            <tr>
                <td align="center">First name</td>
                <td>@Model.firstName</td>
            </tr>
            <tr>
                <td align="center">Last name</td>
                <td>@Model.lastName</td>
            </tr>
            <tr>
                <td align="center">Role</td>
                <td>@(Model.role.name.Equals("customer")&&Model.isRegular ? "regular" : "") @Model.role.name</td>
            </tr>
            <tr>
                <td align="center">Email</td>
                <td>@Model.email</td>
            </tr>
            <tr>
                <td align ="center">Telephone</td>
                <td>@Model.telephone</td>
            </tr>
        </table>

        <input type="submit" class="btn btn-info" value="Change info" align="center" onclick='location.href="@("/users/userInfo/change?userId="+Model.userId)"'>
    </div>
</div>
</body>
</html>