@using TourAgency.Models
@model TourAgency.Models.Order
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<script>
    function recount(amountOfPeople) {
        var discount = document.getElementById("discount").value;
        var price = document.getElementById("price").value;
        var finalPrice = document.getElementById("finalPrice");
        
        finalPrice.value = amountOfPeople * (price * ((100 - discount) / 100));
        finalPrice.innerHTML = amountOfPeople * (price * ((100 - discount) / 100));
    }
</script>
<body>
    <div class="container-fluid" style="text-align: center;">
        <h1>Order details</h1>
        @using (Html.BeginForm("createOrder", "Order", FormMethod.Post)) {
            <div class="container">
                <div class="container">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Place</span>
                        </div>
                        <input class="form-control" value="@Model.tour.place" readonly>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Type</span>
                        </div>
                        <input class="form-control" value="@Model.tour.type.name" readonly>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Date</span>
                        </div>
                        <input class="form-control" value="@Model.tour.fromDate.ToShortDateString()" readonly>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Duration (days)</span>
                        </div>
                        <input class="form-control" value="@Model.tour.duration" readonly>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price (per man)</span>
                        </div>
                        <input class="form-control" id="price" value="@Model.tour.price" readonly>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quantity of tickets</span>
                        </div>
                        <input class="form-control" value="@Model.tour.maxAmountOfPeople" readonly>
                    </div>
                    
                    @if (Model.user.isRegular || Model.tour.isHot) {
                        Tour tour = Model.tour;
                        User customer = Model.user;
                        double discount = 0;

                        if (customer.isRegular) {
                            if (tour.isHot && tour.hotDiscount > tour.discount) {
                                discount = tour.hotDiscount;
                            } else {
                                discount = tour.discount;
                            }
                        } else {
                            if (Model.tour.isHot) {
                                discount = Model.tour.hotDiscount;
                            }
                        }
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Discount</span>
                            </div>
                            <input class="form-control" id="discount" value="@discount" readonly>
                        </div>
                    }
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <textarea style="max-height: fit-content; min-height: fit-content" class="form-control" id="discount" readonly>@Model.tour.description</textarea>
                    </div>
                </div>
                <hr/>
                <div class="container">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amount of people</span>
                        </div>
                        <input class="form-control" name="amountOfPeople" type="number" min="1" max="8" step="1" value="1" oninput='recount(this.value)'/>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Final price</span>
                        </div>
                        <input class="form-control" id="finalPrice" name="finalPrice" value="0" readonly>
                    </div>
                </div>
                <div class="container">
                    <div class="col">
                        <input type="hidden" name="tourId" value="@Model.tour.tourId"/>
                        <input type="hidden" name="userId" value="@Model.user.userId"/>
                        <input class="btn btn-info" type="submit" value="Buy"/>
                        <input class="btn btn-info" type="button" value="Cancel" onclick='location.href = "/tours"'/>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
