@model TourAgency.Models.User
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid" style="width: 55vh">
    <div class="row align-items-center" style="height: 100vh">
        <div class="col">
            <h1 align="center">Registration</h1>
            @using(Html.BeginForm("registration", "Registration", FormMethod.Post)) {
                if (ViewData.ContainsKey("exception")) {
                    <div class="alert alert-danger" role="alert">
                        @ViewData.Eval("exception")
                    </div>
                }
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First name</span>
                    </div>
                    @Html.TextBoxFor(model => model.firstName, new{@class="form-control"})
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Last name</span>
                    </div>
                    @Html.TextBoxFor(model => model.lastName, new{@class="form-control"})
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                    </div>
                    @Html.TextBoxFor(model => model.email, new{@class="form-control"})
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    @Html.PasswordFor(model => model.password, new{@class="form-control"})
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Telephone</span>
                    </div>
                    @Html.TextBoxFor(model => model.telephone, new{@class="form-control"})
                </div>
                <div align="center">
                    <input style="margin: 5px 5px 5px" type="submit" class="btn btn-info" value="Sign Up"/>
                    <input style="margin: 5px 5px 5px" type="button" class="btn btn-info" value="Cancel"
                           onclick='location.href = "/login"'/>
                </div>
            }
            </div>
        </div>
    </div>
</body>
</html>